@import "../../variables";

#cover-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //background: linear-gradient(to right, #4A00E0, #8E2DE2);
}