@import "../../variables.scss";

.header {
  background-color: $light;
  width: 100vw;
  position: fixed;
  height: $navBarHeight;
  z-index: 20;
  transition: height 0.3s;
  .navbar {
    display: flex;
    flex-flow: row nowrap;
    width: $width;
    margin:auto;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 15;
    .logo {
      width: 300px;
      display: flex;
      align-items: center;
      a {
        color: $dark;
        font-size: 24px;
        font-weight: bolder;
        transition: all 0.3s;
      }
    }
    .logo:hover a{
      transform: scale(1.2);
    }
    .links {
      display: flex;
      flex-flow: row nowrap;
      a {
        position: relative;
        font-size: 16px;
        color: $placeholder;
        padding: 0px 5px;
        margin: 0px 5px;
        display: flex;
        align-items: center;
        padding-bottom: 5px;
      }
      a::before {
        transition: transform 0.4s;
        position: absolute;
        content: "";
        width: 100%;
        //height: 3px;
        left: 0;
        bottom: 0;
        border-bottom: solid 2px $placeholder;
        transform-origin: right;
        transform: scaleX(0);
      }
      a:hover {
        color: $dark;
        &::before {
          transform-origin: left;
          transform: scaleX(1);
        }
      }
    }
  }
}