@import "../../variables";

#top {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //background: linear-gradient(to right, #c33764, #1d2671);
}