@import "../../variables";

#top {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    h1 {
        font-weight: 500;
        color: $light;
        margin-bottom: 60px;
        strong {
            color: $light;
            text-shadow: 1px 1px 3px $shadow;
        }
    }
}