// COLORES

$primary: #296cb8;
$secondary: #1a1a75;
$light: #ffffff;
$dark: #1b1b1b;
$placeholder: #777777;
$shadow: #222222;

//  BORDES

$curve: 10px;

// DESENFOQUE

$blur: 10px;

// TIPOGRAFÍAS

$lato: 'Lato', sans-serif;

// MEDIDAS PÁGINA

$width: 80vw;
$navBarHeight: 100px;